<a href="https://colab.research.google.com/github/antonio2505/Data_Science_Business_CS/blob/main/Find_Outliers_Statistical_Method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv("kyphosis.csv")
data_perc = data.iloc[:, 1:]

In [7]:
data_perc.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [14]:
#calulate the interquatile range
q25, q50, q75 = np.percentile(data_perc, [25,50,75])
iqr = q75 - q25

# calculate the min/max  to be consider as an Outlier
min = q25 - 1.5*(iqr)
max = q75 + 1.5*(iqr)

print(min, q25, q50, q75, max)

-26.0 4.0 11.0 24.0 54.0

In [20]:
result = [x for x in data_perc['Age'] if x > max]
result

[71,
 158,
 128,
 61,
 113,
 59,
 82,
 148,
 168,
 78,
 175,
 80,
 105,
 96,
 131,
 100,
 151,
 125,
 130,
 112,
 140,
 93,
 91,
 73,
 143,
 61,
 97,
 139,
 136,
 131,
 121,
 177,
 68,
 139,
 140,
 72,
 120,
 102,
 130,
 114,
 81,
 118,
 118,
 195,
 159,
 158,
 127,
 87,
 206,
 178,
 157,
 120]